In [1]:
import numpy as np

import pandas as pd



import matplotlib.pyplot as plt

import seaborn as sns

plt.rcParams['figure.figsize'] = [10, 8]

In [2]:
df=pd.read_csv('bugs_hppoint_year_title.csv')

In [3]:
df.head()

   Unnamed: 0  year                                  title  hppoint
0           0  2018                 사랑을 했다 (LOVE SCENARIO)        7
1           1  2018                                   그날처럼        5
2           2  2018                                     선물        5
3           3  2018  모든 날, 모든 순간 (Every day, Every Moment)        5
4           4  2018                   뚜두뚜두 (DDU-DU DDU-DU)        6

In [13]:
del df['title']

In [14]:
df

      year  hppoint
0     2018        7
1     2018        5
2     2018        5
3     2018        5
4     2018        6
5     2018        6
6     2018        6
7     2018        4
8     2018        7
9     2018        6
10    2018        5
11    2018        5
12    2018        5
13    2018        6
14    2018        7
15    2018        8
16    2018        6
17    2018        4
18    2018        7
19    2018        7
20    2018        8
21    2018        8
22    2018        5
23    2018        4
24    2018        5
25    2018        7
26    2018        3
27    2018        6
28    2018        6
29    2018        6
...    ...      ...
4263  1965        3
4264  1965        2
4265  1964        2
4266  1964        4
4267  1964        2
4268  1964        2
4269  1964        3
4270  1964        4
4271  1964        3
4272  1964        4
4273  1964        2
4274  1964        2
4275  1964        3
4276  1964        3
4277  1964        6
4278  1964        4
4279  1964        5
4280  1964        6
4281  1964        2
4282  1964        3
4283  1964        2
4284  1964        3
4285  1964        3
4286  1964        4
4287  1964        3
4288  1964        2
4289  1964        3
4290  1964        3
4291  1964        2
4292  1964        3

[4293 rows x 2 columns]

In [12]:
pivot = df.pivot_table(index='year', columns='Make', aggfunc=np.mean)

ValueError: Index contains duplicate entries, cannot reshape